<routes>
  <route>
    <plugin>myplugin</plugin>
    <path>/path/to/myplugin/</path>
    <options>
      <entry>
        <string>MaxThreads</string>
        <string>3</string>
      </entry>
      <entry>
        <string>RootDirectory</string>
        <string>web/</string>
      </entry>
    </options>
  </route>
  <route>
    <plugin>otherplugin</plugin>
    <path>/otherplugin/</path>
    <options reference="../../route/options"/>
  </route>
</routes>