<list>
  <configuration.ServerRoute>
    <plugin>myplugin</plugin>
    <path>/path/to/myplugin/</path>
    <options>
      <entry>
        <string>MaxThreads</string>
        <string>3</string>
      </entry>
      <entry>
        <string>RootDirectory</string>
        <string>web/</string>
      </entry>
    </options>
  </configuration.ServerRoute>
  <configuration.ServerRoute>
    <plugin>otherplugin</plugin>
    <path>/otherplugin/</path>
    <options reference="../../configuration.ServerRoute/options"/>
  </configuration.ServerRoute>
</list>